* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.main_header {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    color: rgb(213, 16, 16);
    font-weight: 900;
    font-size: 40px;
    font-family:'Rubik Doodle Shadow', system-ui,'sans-serif';
    margin-top: 5px;    
}

.main_container {
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

#the_grid {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    border: 30px solid rosybrown;
    
}



.grid_buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
}

button {
    background: #3882F6;
    color: #fff;
    padding: 20px 10px;
    border-radius: 100px ;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
button:hover {
    border: 1px solid black;
}

