* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
}

.main_header {
    display: flex;
    justify-content: start ;
    flex-direction: column;
    gap: 50px;
    border-radius: 15px;
    padding: 10px;
    color: rgb(92, 7, 7);
    font-weight: 900;
    font-size: 30px;
    font-family:'Rubik Doodle Shadow', system-ui,'sans-serif';
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid {
    width: 800px;
    height: 800px;
    border: 3px solid black;
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

#grid > * {
    outline: 1px solid black;
    flex: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;  
}
.buttons div:nth-child(1) {
    color: black;
    font-size: 2rem;
}
button {
    width: fit-content;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    background: rgb(92, 7, 7);
    color: #fff;
}
#clear {
    padding: 10px 20px;
}

button:hover {
    border: 1px solid black;
}

#rainbow:hover {
    background-image: repeating-linear-gradient(to right,   #E70000 0px, #E70000 16.66666%,   #FF8C00 16.666666%, #FF8C00 33.333333%,   #FFEF00 33.3333333%, #FFEF00 50%,  #00811F 50%, #00811F 66.6666666%,   #0044FF 66.666666%, #0044FF 83.3333333333%,   #760089 83.333333px,#760089 100%)

}

label {
    font-size: 22px;
    color: darkred;
}
